# macOS
.DS_Store

# Windows
Thumbs.db

# Node
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.env.local
.env.*.local

# Build output
dist/
build/

# Editor stuff
.vscode/
.idea/

# OS junk
*.swp